<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="GCD Env monitoring test" verbose="1" >
  
 
  <test name="GCSS monitoring QA" parallel="methods" thread-count="100">
  <parameter name="ENV" value="Just to test"></parameter>
    <classes>
      <class name="gcd.perfTest.EnvMonitorTest"/>
     
    </classes>
  </test>
  
  
 
  
  
  
</suite>
